.Boutons {
  font-family: sans-serif;
  text-align: center;
}

.buttonHolder {
  margin: 2rem 0rem 2rem 0rem;
  width: 100%;
}

.buttonGroup {
  margin: auto;
  display: block;
  width: fit-content;
}