.receiverName{
    font-weight: bold;
    position:absolute; 
    left:50%;
    line-height: 3rem;
}

.messageFrom {
    background-color: #828282;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    margin-top: 1rem;
}

.messageTo {
    background-color: #828282;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    float: right;
    margin-top: 1rem;
}